<form [formGroup]="formGroup">
  <mat-grid-list [cols]="numColumns" rowHeight="100px" gutterSize="5px" #hormigonesContainer>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Tipo de Hormigón/Mortero</mat-label>
          <input matInput placeholder="" formControlName="hormigon.tipo" required>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Ficha Técnica de Referencia</mat-label>
          <input matInput placeholder="" formControlName="hormigon.referencia" required>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Ficha Técnica de Referencia</mat-label>
          <input matInput placeholder="" formControlName="hormigon.relacion" required>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
    <mat-divider></mat-divider>

    <app-step-hormigones-contenido [formGroup]="formGroup"></app-step-hormigones-contenido>

    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
</form>
