<form [formGroup]="formGroup">
  <mat-grid-list [cols]="numColumns" rowHeight="100px" gutterSize="5px" #clienteContainer>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1" onlyReader [read]="readMode">
        <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Nº de albarán</mat-label>
          <input matInput placeholder="" formControlName="numAlbaran" required>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Fecha de entrega</mat-label>
          <input matInput placeholder="-" formControlName="fechaEntrega" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Radial</mat-label>
          <input matInput placeholder="-" formControlName="radial" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>M3 entregados</mat-label>
          <input matInput placeholder="-" formControlName="m3" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Total progres día</mat-label>
          <input matInput placeholder="-" formControlName="progresoDia" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Planta</mat-label>
          <input matInput placeholder="-" formControlName="planta" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>viaCarga</mat-label>
          <input matInput placeholder="-" formControlName="viaCarga" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Cliente</mat-label>
          <input matInput placeholder=" " formControlName="cliente.nombre" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Nº Cliente</mat-label>
          <input matInput placeholder=" " formControlName="planta" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>CIF</mat-label>
          <input matInput placeholder=" " formControlName="viaCarga" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Obra</mat-label>
          <input matInput placeholder=" " formControlName="obra" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder=" " formControlName="direccion" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Población</mat-label>
          <input matInput placeholder=" " formControlName="cp" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Municipio</mat-label>
          <input matInput placeholder=" " formControlName="municipio" readonly>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
    <mat-divider></mat-divider>
    <div>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
</form>
