<app-toolbar></app-toolbar>

<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<div class="container">

  <ng-container *ngIf="widthSize === 2 else verticalRef">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="clienteFormGroup">
        <ng-template matStepLabel>Cliente</ng-template>
        <app-step-cliente [formGroup]="clienteFormGroup" [widthSize]="widthSize"></app-step-cliente>
      </mat-step>
      <mat-step [stepControl]="transporteFormGroup">
        <ng-template matStepLabel>Transporte</ng-template>
        <app-step-transporte [formGroup]="transporteFormGroup" [widthSize]="widthSize"></app-step-transporte>
      </mat-step>
      <mat-step [stepControl]="transporteFormGroup">
        <ng-template matStepLabel>Firma</ng-template>
        <app-step-firma [widthSize]="widthSize"></app-step-firma>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-container>
  <ng-template #verticalRef>
    <ng-container  *ngIf="widthSize < 2">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="clienteFormGroup">
          <ng-template matStepLabel>Información Cliente</ng-template>
          <app-step-cliente [formGroup]="clienteFormGroup" [widthSize]="widthSize"></app-step-cliente>
        </mat-step>
        <mat-step [stepControl]="transporteFormGroup">
          <ng-template matStepLabel>Transporte</ng-template>
          <app-step-transporte [formGroup]="transporteFormGroup" [widthSize]="widthSize"></app-step-transporte>
        </mat-step>
        <mat-step [stepControl]="transporteFormGroup">
          <ng-template matStepLabel>Firma</ng-template>
          <app-step-firma [widthSize]="widthSize"></app-step-firma>
        </mat-step>
      </mat-vertical-stepper>
    </ng-container>
  </ng-template>
</div>

<ng-template #stepperClienteTemplate let-stepper="stepper" let-form="form" let-title="title">
    <ng-template matStepLabel>{{title}}</ng-template>
    <app-step-cliente [formGroup]="form" [widthSize]="widthSize"></app-step-cliente>
</ng-template>
