<section class="container">
  <!-- <ng-template> -->
    <mat-card class="card">
        <!-- <mat-card-title>
          <h3>{{albaran.cliente.nombre}}:</h3>
        </mat-card-title> -->


        <mat-card-content>
          <mat-grid-list
            (window:resize)="beResponsive()"
            [cols]="numColumns"
            rowHeight="37px"
            gutterSize="5px"
            #albaranSimpleContainer>

          <mat-grid-tile [colspan]="getColSpan(2)"  [rowspan]="1" fxLayout="row" fxLayoutAlign="start center">
            <p><strong>Especificación: </strong></p>
            <p class="detalle-simple-value">{{albaran.especificacion}}</p>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColSpan(2)"  [rowspan]="1" fxLayout="row" fxLayoutAlign="start center">
            <p><strong>Volumen: </strong></p>
            <p class="detalle-simple-value">{{albaran.volumenTotalFabricado}} {{albaran.unidadVolumenTotalFabricado}}</p>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColSpan(2)"  [rowspan]="1" fxLayout="row" fxLayoutAlign="start center">
            <p><strong>Masa: </strong></p>
            <p class="detalle-simple-value">{{albaran.masaTotalFabricada}} {{albaran.unidadMasaTotalFabricada}}</p>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColSpan(2)"  [rowspan]="1" fxLayout="row" fxLayoutAlign="start center">
            <p><strong>Cemento: </strong></p>
            <p class="detalle-simple-value">{{albaran.descripcionCementoAlbaran}}</p>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColSpan(2)"  [rowspan]="1" fxLayout="row" fxLayoutAlign="start center">
            <p><strong>Cantidad cemento: </strong></p>
            <p class="detalle-simple-value">{{albaran.masaCementiciaReal}} {{albaran.unidadMasaCementiciaReal}}</p>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="getColSpan(2)"  [rowspan]="1" fxLayout="row" fxLayoutAlign="start center">
            <p><strong>Relación agua-cemento: </strong></p>
            <p class="detalle-simple-value">{{albaran.relacionAguaCementoReal}}</p>
          </mat-grid-tile>

          <!-- <mat-grid-tile [colspan]="getColSpan(2)"  [rowspan]="1" fxLayout="row" fxLayoutAlign="start center">
            <p><strong>Cantidad de Agua: </strong></p>
            <p class="detalle-simple-value">{{albaran.horario?.aguaCliente}} L</p>
          </mat-grid-tile> -->

        </mat-grid-list>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-button (click)="navigateToSignAlbaran(albaran)">Editar</button>
        </mat-card-actions>
    </mat-card>
  <!-- </ng-template> -->
</section>
