<form [formGroup]="formGroup">
  <mat-grid-list [cols]="numColumns" rowHeight="100px" gutterSize="5px" #transporteContainer>

    <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
      <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Empresa</mat-label>
          <input matInput placeholder="" formControlName="transporte.empresa" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(3)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(3)" (window:resize)="beResponsive()">
          <mat-label>cif</mat-label>
          <input matInput placeholder="-" formControlName="transporte.cif" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(3)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(3)" (window:resize)="beResponsive()">
          <mat-label>Matrícula Camión</mat-label>
          <input matInput placeholder="-" formControlName="transporte.camion.matricula" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(3)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(3)" (window:resize)="beResponsive()">
          <mat-label>Matrícula Remolque</mat-label>
          <input matInput placeholder="-" formControlName="transporte.remolque.matricula" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Cargador Contractual</mat-label>
          <input matInput placeholder="-" formControlName="transporte.cargadorContractual" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>CIF</mat-label>
          <input matInput placeholder="-" formControlName="transporte.cif" readonly>
        </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>
    <mat-divider></mat-divider>
    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
</form>
