/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-input-element:disabled {
  color: rgb(0 0 0.9) !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgb(0 0 0.9) !important;
}


.mat-expansion-panel {
  margin: 20px !important;
}
