<form [formGroup]="formGroup">
  <mat-grid-list [cols]="numColumns" rowHeight="100px" gutterSize="5px" #horariosContainer>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Carga en Planta</mat-label>
          <input matInput placeholder="-" formControlName="horario.cargaPlanta" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Llegada a obra</mat-label>
          <!-- <input matInput placeholder="-" formControlName="horario.llegadaObra"> -->
          <!-- <input matInput placeholder="-" formControlName="horario.llegadaObra" [ngxTimepicker]="appendedLlegadaObra" readonly>
          <ngx-material-timepicker #appendedLlegadaObra [appendToInput]="true"></ngx-material-timepicker> -->
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Inicio Descarga</mat-label>
          <!-- <input matInput placeholder="-" formControlName="horario.inicioDescarga" [ngxTimepicker]="appendedInicioDescarga" readonly>
          <ngx-material-timepicker #appendedInicioDescarga [appendToInput]="true"></ngx-material-timepicker> -->
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Final de Descarga</mat-label>
          <!-- <input matInput placeholder="-" formControlName="horario.finalDescarga" [ngxTimepicker]="appendedFinalDescarga" readonly>
          <ngx-material-timepicker #appendedFinalDescarga [appendToInput]="true"></ngx-material-timepicker> -->
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Llegada a Planta</mat-label>
          <!-- <input matInput placeholder="-" formControlName="horario.llegadaPlanta" [ngxTimepicker]="appendedLlegadaPlanta" readonly>
          <ngx-material-timepicker #appendedLlegadaPlanta [appendToInput]="true"></ngx-material-timepicker> -->
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(2)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(2)" (window:resize)="beResponsive()">
          <mat-label>Límite de Uso</mat-label>
          <input matInput placeholder="-" formControlName="horario.limiteUso" readonly>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
        <!-- <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Hormigón ha sido bombeado</mat-label>
          <input matInput placeholder="-" formControlName="horario.hormigonBombeado">
        </mat-form-field> -->
        <mat-slide-toggle [style.width.px]="getWidth(1)" (window:resize)="beResponsive()" formControlName="horario.hormigonBombeado">Hormigón ha sido bombeado</mat-slide-toggle>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="getColSpan(1)" [rowspan]="1">
        <mat-form-field [style.width.px]="getWidth(1)" (window:resize)="beResponsive()">
          <mat-label>Agua Añadida a obra a petición del cliente</mat-label>
          <input matInput placeholder="-" formControlName="horario.aguaCliente">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
    <mat-divider></mat-divider>
    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
</form>
